extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  if(user)
    .container.my-3
      include ../../partials/list-btn-users.pug
      
  .section-products-featured.my-5
    .container
      .row
        .col-12
          +box-head(pageTitle)

      