extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    if(user)
      .container.my-3
        include ../../partials/list-btn-users.pug

    .container.my-3
      .row
        .col-12
          +box-head(pageTitle)